Add an error representation handler when default_mediatype is None

I tried to set at the same time `default_mediatype` to None and specify the list of `api.representations`. The result seems to me quite unexpected. Maybe I missed something but the only documentation about `default_mediatype` I could find is in `Api.make_response`:
```
make_response(data, *args, **kwargs)
Looks up the representation transformer for the requested media type, invoking the transformer to
create a response object. This defaults to default_mediatype if no transformer is found for the
requested mediatype. If default_mediatype is None, a 406 Not Acceptable response will be sent as per
RFC 2616 section 14.1
```

What it does not say is that if there is any representation in `api.representations`, it will take one of them and try to use it to serialize the error message.

Here is an example:


```python
from flask import Flask, make_response
import flask_restful

class Foo(flask_restful.Resource):
    def get(self):
        return {'Foo':'origin'}

def api_misc_serializer(data, code, *args, **kwargs):
    return make_response('MISC {}'.format(data), code)

app = Flask(__name__)
app.debug = True
api = flask_restful.Api(app, default_mediatype=None)
api.representations = {
    'misc/misc': api_misc_serializer,
}

api.add_resource(Foo, '/')

with app.test_client() as client:
    res = client.get('/', headers=[('Accept', 'application/xml')])
    print res.data
    print 'STATUS CODE {}'.format(res.status_code)
```
RESULT
```
MISC {'message': 'The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request.'}
STATUS CODE 406
```

The first problem is that this behaviour does not seem to be documented.

The second one is that there is no way to specify which *representation* function should serialize the error message. The current behaviour doesn't really make sense to me as we already know that we can't handle the requested Accept Header but we try to serialize it randomly anyway.

The third one is that I don't want any *representation* function at the Api level. I want them at the Resource level as I will need different serializations for the same response Content Type  (which is possible but doesn't seem to be documented either, I will create another issue for that). Thus I would prefer if I could declare the *error representation* function outside of the api.representations array.

I am currently using Flask-RESTful (0.3.4) from Pypi